html,
body {
    padding: 0;
    margin: 0;
    font-family: PingFang SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #555555;
    background-color: #f8f8f8;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#nprogress .bar {
    background: #e6007a !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #e6007a, 0 0 5px #e6007a;
}

.ui.pagination.menu {
    min-height: auto;
    border: none;
    box-shadow: none;
    position: relative;
}
.ui.pagination.menu .item {
    height: 24px;
    width: 24px;
    min-width: auto;
    padding: 0;
    display: flex;
    align-items: center;
    color: #8b8f96;
    margin-left: 8px;
    border-radius: 4px;
    justify-content: center;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    border: 1px solid #f3f3f3;
}
.ui.pagination.menu .item:last-child {
    border-radius: 4px;
}
.ui.pagination.menu .item.active {
    padding: 0;
}
.ui.pagination.menu .item[value="1"][type="pageItem"] {
    margin-left: 0;
}
.ui.pagination.menu .item::before {
    background: none;
}
.ui.pagination.menu .item[type="nextItem"] {
    border-radius: 4px;
    order: 2;
}
.ui.pagination.menu .item[type="prevItem"] {
    order: 1;
}
